<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student record</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <body>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
    
            <input type="submit" value="Submit">
        </form>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">sub1name</th>
            <th scope="col">sub1marks</th>
            <th scope="col">sub2name</th>
            <th scope="col">sub2marks</th>
            <th scope="col">sub3name</th>
            <th scope="col">sub3marks</th>
          </tr>
        </thead>
        <tbody>
    
            {% for x in queryset %}
          <tr>
            <th scope="row">1</th>
            <td>{{x.sub1name}}</td>
            <td>{{x.sub1marks}}</td>
            <td>{{x.sub2name}}</td>
            <td>{{x.sub2marks}}</td>
            <td>{{x.sub3name}}</td>
            <td>{{x.sub3marks}}</td>
          </tr>
          {% endfor %}
        

        </tbody>
      </table>
</body>
</html>