
{% extends 'm.html' %}

   {% block start %}

    <form class="container mt-5" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Varun Record Book</h2>
        <a class="btn btn-outline-dark" href="/resources/students/">Refresh</a>
        <div class="mb-3">
          <label for="exampleInputEmail1">book Name</label>
          <input type="text" class="form-control" placeholder="Enter your bookname" name="name" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1">subject</label>
          <input type="text" class="form-control" placeholder="Enter your subject" name="address" >
        </div>

       
        <div class="mb-3">
            <label for="exampleInputPassword1">File</label>
            <input type="file" class="form-control" name="image">
          </div>
          
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" name="search" />
      <button type="submit" class="btn-warning" >search</button>
    </div>
    </form>





    <table class="table">
      <thead>
        <tr>
          <th scope="col">slno</th>
          <th scope="col">Name</th>
          <th scope="col">subject</th>
  
          <th scope="col">file</th>
        </tr>
      </thead>
      <tbody>

        
        {% for x in rece %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{x.name}}</td>
          <td>{{x.subject}}</td>
        
          <td>
            <img src="/media/{{x.image}}" >
          </td>
          <td>
            <a href="/deleterec/{{x.id}}" class="btn btn-danger">delete</a>
          </td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>

  
    
    
    
    
    
{% endblock start %}

